In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
#from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [14]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {
    
     'max_depth': [5, 7],
    'min_samples_split': [ 5, 10],
    'min_samples_leaf': [1,2, 4]
}

#param_grid={
    
 #   'n_estimators': [100, 200],
#    'max_features': ['auto', 'sqrt','log2'],
#    'max_depth': [10, 20],
#    'min_samples_leaf': [1,2, 4],
 #   'min_samples_split': [5, 10]
    
#}
#'min_samples_leaf': [1, 2, 4],
 #   'bootstrap': [True, False]
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'max_depth': [5, 7], 'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [5, 10]},
             verbose=3)

In [15]:
re=grid.cv_results_
#print(re)
print("The R_score value for best parameter {}:".format(grid.best_params_))
print("Best R^2 score:", grid.best_score_)
#print("The best r_score",r_score)

The R_score value for best parameter {'max_depth': 5, 'min_samples_leaf': 4, 'min_samples_split': 5}:
Best R^2 score: 0.8482064687681768

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_leaf,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.011886,0.004504,0.003714,0.002159,5,2,5,"{'max_depth': 5, 'min_samples_leaf': 2, 'min_s...",0.869476,0.780780,0.886406,0.830459,0.863338,0.846092,0.037361,3
1,0.010090,0.004012,0.004469,0.002693,5,2,10,"{'max_depth': 5, 'min_samples_leaf': 2, 'min_s...",0.869476,0.780573,0.886406,0.830459,0.863338,0.846050,0.037434,4
2,0.007081,0.001642,0.004401,0.000841,5,4,5,"{'max_depth': 5, 'min_samples_leaf': 4, 'min_s...",0.868761,0.780662,0.888991,0.840098,0.862521,0.848206,0.037199,1
3,0.002001,0.004002,0.007694,0.005449,5,4,10,"{'max_depth': 5, 'min_samples_leaf': 4, 'min_s...",0.868761,0.780662,0.888991,0.840098,0.862521,0.848206,0.037199,1
4,0.007068,0.008293,0.006584,0.006004,7,2,5,"{'max_depth': 7, 'min_samples_leaf': 2, 'min_s...",0.826047,0.739189,0.872175,0.800647,0.844525,0.816516,0.045176,8
5,0.010507,0.001809,0.001622,0.001682,7,2,10,"{'max_depth': 7, 'min_samples_leaf': 2, 'min_s...",0.850962,0.746573,0.871138,0.801679,0.842527,0.822576,0.044216,7
6,0.006681,0.003969,0.004842,0.005084,7,4,5,"{'max_depth': 7, 'min_samples_leaf': 4, 'min_s...",0.856228,0.751900,0.879209,0.812725,0.843441,0.828701,0.043999,6
7,0.005849,0.005649,0.000953,0.001167,7,4,10,"{'max_depth': 7, 'min_samples_leaf': 4, 'min_s...",0.856307,0.752386,0.881025,0.813907,0.841429,0.829011,0.044055,5

In [12]:
import pickle
filename='finalized_model_MLAssignment_DT_GridSearchCVWithoutTrain&Test.sav'
pickle.dump(grid,open(filename,'wb'))

In [13]:
loaded_model=pickle.load(open('finalized_model_MLAssignment_DT_GridSearchCVWithoutTrain&Test.sav','rb'))
result=loaded_model.predict([[50,27.970,0,1,0]])
result

C:\AI\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([11060.90845546])