In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.svm import SVR
import numpy as np
import matplotlib.pyplot as plt

In [9]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
#param_grid = {'criterion':['mse','mae'],
#'max_features': ['auto','sqrt','log2'],
#'n_estimators':[10,100]}
    
param_grid = {
   
   'C': [100,1000],
    'kernel': ['poly','sigmoid','linear'],
    'gamma': ['scale']
    
}
    
# 'max_depth': [10, 15],
 #   'min_samples_split': [2, 5, 10],
#    'min_samples_leaf': [2, 4],
#    'max_features': ['sqrt', 'log2'],
#'min_samples_leaf': [1, 2, 4],
 #   'bootstrap': [True, False]
grid = GridSearchCV(SVR(), param_grid, refit = True, verbose= 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(independent, dependent)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

C:\AI\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [100, 1000], 'gamma': ['scale'],
                         'kernel': ['poly', 'sigmoid', 'linear']},
             verbose=3)

In [10]:
re=grid.cv_results_
#print(re)
print("The R_score value for best parameter {}:".format(grid.best_params_))
print("Best R^2 score:", grid.best_score_)
#print("The best r_score",r_score)

The R_score value for best parameter {'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}:
Best R^2 score: 0.6937782096990812

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.120548,0.014534,0.019553,4.552231e-03,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",-0.132885,-0.082461,-0.129220,-0.139962,-0.189219,-0.134749,0.033948,4
1,0.139854,0.011134,0.028704,5.485244e-03,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.142455,-0.160831,-0.117544,-0.137984,-0.130402,-0.137843,0.014263,5
2,0.189040,0.009976,0.015623,3.873843e-07,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.559313,0.521798,0.547691,0.538805,0.508518,0.535225,0.018122,2
3,0.129560,0.022425,0.014801,1.648832e-03,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",-0.080527,-0.028469,-0.073376,-0.086611,-0.134493,-0.080695,0.033795,3
4,0.119202,0.007718,0.028354,6.365869e-03,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",-2.043140,-2.686121,-2.194563,-2.210858,-1.942521,-2.215441,0.255409,6
5,0.498388,0.055445,0.013963,1.216408e-02,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.736398,0.675162,0.680002,0.699377,0.677952,0.693778,0.022955,1

In [12]:
import pickle
filename='finalized_model_MLAssignment_SVMR_GridSearchCVWithoutTrain&Test.sav'
pickle.dump(grid,open(filename,'wb'))

In [13]:
loaded_model=pickle.load(open('finalized_model_MLAssignment_SVMR_GridSearchCVWithoutTrain&Test.sav','rb'))
result=loaded_model.predict([[50,27.970,0,1,0]])
result

C:\AI\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([9249.18476966])